*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Simhei;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url(../images/luoyang-4.png);
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
}
a{
    text-decoration: none;
    color:#fff;
}
.nav-top{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
}
.nav-top .nav-left{
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    justify-content: space-around;
}
.nav-top .nav{
    display: flex;
    flex-direction: row;
    /* padding: 0 20px; */
}
.nav-top .nav div{
    margin: 0 20px;
    font-weight: 700;
    cursor: pointer;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);

}
.nav-top .nav div a{
    text-decoration: none;
    color:#fff;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.nav-top .nav div:hover a{
    color: #0ccf74;
}
.nav-top .nav-right{
    width: 40%;
    display: flex;
    justify-content: end;
    padding-right: 20%;
}
.nav-top .input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
}
.nav-top .input-wrapper .input {
    border-style: none;
    height: 50px;
    width: 50px;
    padding: 10px;
    outline: none;
    border-radius: 50%;
    transition: .5s ease-in-out;
    background-color: #0ccf74;
    box-shadow: 0px 0px 3px #f3f3f3;
    padding-right: 40px;
    color: #fff;
}
.nav-top .input-wrapper .input::placeholder,
.nav-top .input-wrapper .input {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}
.nav-top .input-wrapper .input::placeholder {
    color: #fff;
} 
.nav-top .input-wrapper .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    outline: none;
    border-style: none;
    border-radius: 50%;
    pointer-events: painted;
    background-color: transparent;
    transition: .2s linear;
}  
.nav-top .input-wrapper  .icon:focus ~ .input,
.nav-top .input-wrapper  .input:focus {
    box-shadow: none;
    width: 250px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 3px solid #0ccf74;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.body-content{
    width: 60%;
    height: auto;
    min-height: 1500px;
    background: url(../images/mlly_bg_img.png) no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body-content .first{
    width: 80%;
    height: auto;
    /* min-height: 1200px; */
    background: #fff;
    margin: 30px 0 0 0;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 50px 0px rgb(38 66 99 / 10%);
}
.body-content .first .f-nav{
    width: 100%;
    height: auto;
    border-left: #0ccf74 5px solid;
    border-bottom: 1px #ccc solid;
    padding-left: 2px;
    margin-bottom: 30px;
}
.body-content .second{
    width: 80%;
    height: auto;
    background: #fff;
    padding: 20px 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
    cursor: default;
}
.body-content .second p{
    font-family: Kaiti;
    text-align: center;
}
.body-content .second img{
    height: 280px;
    width: 400px;
    margin: 20px 0;
}
.body-content .second h2{
    margin: 20px 0;
}
.footer{
    height: 50px;
    width: 60%;
    background: #ccc;
    color: #000;
    text-align: center;
    line-height: 50px;
    cursor: default;
}